.AnchorPane
{
    -fx-background-color : #A882DD;
    //-fx-border-width: 1px 1px 1px 1px;
    //-fx-border-color : #5702C7;
}

/* button styling */

.button
{
    -fx-background-color : #5702C7;
    -fx-text-fill : #FFFFFF;
}
.button:hover
{
    -fx-background-color : #C954E0;
    -fx-text-fill : #FFFFFF;
}
.button:pressed
{
    -fx-background-color : #C954E0;
    -fx-text-fill : #FFFFFF;
}

/* VBox styling */

.VBox
{
    -fx-background-color : #A882DD;
    //-fx-border-color : #5702C7;
}

/* Text styling */

.Text
{
    -fx-text-fill : #FFFFFF;
}

.titled-pane > *.content {
    -fx-border-color: #A882DD;
}

.TitledPane
{
    -fx-border-width: 1px 1px 1px 1px;
    //-fx-border-color : #5702C7;
}

.titled-pane > .title
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color, #C296FF;
    -fx-border-color : #A882DD;
    -fx-inner-border : #5702C7;

    //-fx-border-width: 1px 1px 1px 1px;
    -fx-background-insets: 0, 1, 2;
    //-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.ListView
{
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color : #5702C7;
    -fx-background-color : #A882DD;
}

.list-cell { /* <=== changed to even */
    -fx-background-color: #C296FF;
}
